streamlit
pandas
matplotlib
databricks
datetime
databricks-sql-connector
altair
scipy
streamlit_flow
numpy==1.25.2
bs4
markdownify
html2text
requests
openai
llama_index
llama-index-retrievers-bm25
llama-index-vector-stores-chroma
chromadb
Stemmer
python-dotenv